@import "bootstrap-sprockets";
@import "bootstrap";
body {
  padding-top: 70px;
}
.artist-container .thumbnail{
  height: 290px;
}
.artist-container .thumbnail button a {
  color: white;
}
.artist-container .thumbnail img{
  width: 250px;
  height: 155px;
}
.show-container .col-md-3 img{
  width: 100%;
}
